<div class="box">
    <div class="columns">
        <div class="column is-5">
            <table class="table is-bordered">
                <h2 class="subtitle">Multirotor Navigation Settings</h2>
                <tr>
                    <td>
                        <select>
                            <option>Altitude</option>
                        </select>
                    </td>
                    <td>
                        User Control Mode
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        Max. Navigation Speed(cm/s)
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        Max. Cruise Speed(cm/s)
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        Max. navigation climb rate(cm/s)
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        Max. ALTHOLD climb rate(cm/s)
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        Multirotor Max. Banking Angle(degrees)
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field">
                            <input id="switchExample" type="checkbox" name="switchExample" class="switch" checked="checked">
                        </div>
                    </td>
                    <td>
                        Use Mid Throttle for ALTHOLD
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        Hover Throttle
                    </td>
                </tr>
            </table>
        </div>
        <div class="column is-5">
            <table class="table is-bordered">
                <h2 class="subtitle">Position Estimator</h2>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        Vertical Position Baro Weight
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        Vertical Position GPS Weight
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        Vertical Speed GPS Weight
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        Horozontal Position GPS Weight
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        Horozontal Speed GPS Weight
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        HMinimum GPS suits for valid file
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field">
                            <input id="switchExample" type="checkbox" name="switchExample" class="switch" checked="checked">
                        </div>
                    </td>
                    <td>
                        Use Mid Throttle for ALTHOLD
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="columns">
        <div class="column is-5">
            <table class="table is-bordered">
                <h2 class="subtitle">RTH and Landing Settings</h2>
                <tr>
                    <td>
                        <select>
                            <option>At Less</option>
                        </select>
                    </td>
                    <td>
                        RTH ALtitude Mode
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        RTH Altitude(cm)
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field">
                            <input id="switchExample" type="checkbox" name="switchExample" class="switch" checked="checked">
                        </div>
                    </td>
                    <td>
                        Climb Before RTH
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field">
                            <input id="switchExample" type="checkbox" name="switchExample" class="switch" checked="checked">
                        </div>
                    </td>
                    <td>
                        Climb Regardless of Position Center Health
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="field">
                            <input id="switchExample" type="checkbox" name="switchExample" class="switch" checked="checked">
                        </div>
                    </td>
                    <td>
                        Tail First
                    </td>
                </tr>
                <tr>
                    <td>
                        <select>
                            <option>Always</option>
                        </select>
                    </td>
                    <td>
                        Land After RTH
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        landing Vertical Speed(cm/s)
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        Min. vertical landing speed at altitude(cm)
                    </td>
                </tr>
                <tr>
                    <td>
                        <input type="number">
                    </td>
                    <td>
                        Vertical landing speed slowdown at altitide
                    </td>
                </tr>
            </table>
        </div>
        <div class="column is-5">
                <table class="table is-bordered">
                    <h2 class="subtitle">Position Estimator</h2>
                    <tr>
                        <td>
                            <input type="number">
                        </td>
                        <td>
                            Cruise Throttle
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number">
                        </td>
                        <td>
                            Min. Throttle
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number">
                        </td>
                        <td>
                            Max. Throttle
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number">
                        </td>
                        <td>
                            Max. bank angle(degrees)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number">
                        </td>
                        <td>
                            Max. climb angle(degrees)
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number">
                        </td>
                        <td>
                            Max. dive angle
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number">
                        </td>
                        <td>
                            Pitch to thottle ratio
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input type="number">
                        </td>
                        <td>
                            Later Radius(cm)
                        </td>
                    </tr>

                </table>
            </div>
        </div>
    </div>  
</div>