<link rel="stylesheet" href="../css/console.css">
<script type="text/javascript" src="../js/app.js"></script>

<div class="tile is-ancestor">
	<div class="tile is-parent">
		<div class="column is-child">
			<div class="level">
				<textarea id="textar" style="color:white; background-color: black;" class="textarea is-primary" placeholder="Terminal" rows="15">  $></textarea>
			</div>
			<div class="level"> 
				<textarea id="inputCommand" style="color:white; background-color: black;" class="textarea is-info" rows="2" placeholder="Enter command" required> command > 
				</textarea>
			</div>
			<div class="level">
				<button id="commandx" class="button is-success is-outlined" onclick="executeInput()"> Submit </button>
			</div>
		</div>
	</div>
</div>	