<div class="columns">
    <div class="column">
        <div class="box">
            <h1 class="subtitle">GPS</h1>
            <table class="table">
                <tr>
                    <td>File Type</td>
                    <td>None</td>
                </tr>
                <tr>
                    <td>Altitude</td>
                    <td>0 m</td>
                </tr>
                <tr>
                    <td>Latitude</td>
                    <td>0.0000 deg</td>
                </tr>
                <tr>
                    <td>Longitude</td>
                    <td>0.0000 deg</td>
                </tr>
                <tr>
                    <td>Speed</td>
                    <td>0 cm/s</td>
                </tr>
                <tr>
                    <td>Sats</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Dist. to Home</td>
                    <td>0 m</td>
                </tr>
            </table>
            <h1 class="subtitle">GPS Statistics</h1>
            <table class="table">
                <tr>
                    <td>HDOP</td>
                    <td>0.00</td>
                </tr>
                <tr>
                    <td>EPH</td>
                    <td>0.00 m</td>
                </tr>
                <tr>
                    <td>EPV</td>
                    <td>0.00 m</td>
                </tr>
                <tr>
                    <td>Updsten time</td>
                    <td>0.0 Hz</td>
                </tr>
                <tr>
                    <td>Total Messages</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Errors</td>
                    <td>0</td>
                </tr>
                <tr>
                    <td>Timeouts</td>
                    <td>0</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="column">
            <button class="button is-primary" onclick="myMap()">Click for Map</button>
            <div id="googleMap" style="width:100%;height:400px;"></div>
    </div>
</div>