<link rel="stylesheet" href="../css/logs.css">

<div class="tile is-ancestor">

	<div class="tile is-parent">
		<!--<div class="column is-child"> 
		<nav class="navbar" role="navigation" aria-label="main navigation">
abc
</nav>
 -->
<div class="columns">
	<div class="column is-3">
		<aside class="menu is-dark">
			<p class="menu-label">
				Analyse
			</p>
			<ul class="menu-list">
    		<li><a class="is-active">Log Download</a></li>
   			<li><a>GeoTag Images</a></li>
  			</ul>
		</aside>
	</div>
	<div class="column">
		<div id="tablediv">
		<div class="table-container">
		<table class="table" id="logtable">
  <thead>
    <tr>
    	<th>Id</th>
    	<th>Date</th>
    	<th>Size</th>
    	<th>Status</th>
    </tr>
</thead>
<tbody>
	<tr>
	  <td>01</td>
      <td>Sunday </td>
      <td>120.0kB</td>
      <td>Available</td>
	</tr>
</tbody>
</table>
</div>
</div>
	</div>

	<div class="column is-2">
		<aside class="menu">
			<div class="level">
				<a class="button is-warning is-medium is-fullwidth" onclick="refreshLog()">Refresh</a>
			</div>
			<div class="level">
				<a class="button is-warning is-medium is-fullwidth" onclick="downloadLog()">Download</a>
			</div>
			<div class="level">
				<a class="button is-warning is-medium is-fullwidth" onclick="eraseLog()">Erase All</a>
			</div>
			<div class="level">
				<a class="button is-warning is-medium is-fullwidth" onclick="cancelLog()">Cancel</a>
			</div>
		</aside>
	</div>
</div>
<hr>


	</div>
</div>	