<div class="box">
	<h1 class="subtitle">Accelerometer</h1>
	<div id="chart1">
		<button class="button is-primary buttongraph1" onclick="graph1()">Click Here</button>		
	</div>
</div>

<div class="box">
	<h1 class="subtitle">Gyroscope</h1>
	<div id="chart2">
		<button class="button is-primary buttongraph2" onclick="graph2()">Click Here</button>
	</div>
</div>

<div class="box">
	<h1 class="subtitle">Magnetometer</h1>
	<div id="chart3">
		<button class="button is-primary buttongraph3" onclick="graph3()">Click Here</button>
	</div>
</div>