
	<form method="post" action="" align="center"> 
		<table class="table is-bordered" align="center">
			<thead class=>
				<tr>
					<th></th>
					<th>D</th>
					<th>I</th>
					<th>D</th>
					<th>I</th>
					<th>E-Range</th>
					<th></th>
				</tr>
			</thead>
			<tr>
				<td>Distance Controller</td>
				<td><input type="text" name="dc1"></td>
				<td><input type="text" name="dc2"></td>
				<td><input type="text" name="dc3"></td>
				<td><input type="text" name="dc4"></td>
				<td><input type="text" name="dc5"></td>
				<td><input type="submit" name="submit" value="Save" class="button is-primary"></td>
			</tr>
			<tr>
				<td>Deviation Controller</td>
				<td><input type="text" name="dv1"></td>
				<td><input type="text" name="dv2"></td>
				<td><input type="text" name="dc3"></td>
				<td><input type="text" name="dv4"></td>
				<td><input type="text" name="dv5"></td>
				<td><input type="submit" name="submit" value="Save" class="button is-primary"></td>
			</tr>
			<tr>
				<td>Lateral Pos. Controller</td>
				<td><input type="text" name="lc1"></td>
				<td><input type="text" name="lc2"></td>
				<td><input type="text" name="lc3"></td>
				<td><input type="text" name="lc4"></td>
				<td><input type="text" name="lc5"></td>
				<td><input type="submit" name="submit" value="Save" class="button is-primary"></td>
			</tr>
			<tr>
				<td>Yaw Controller</td>
				<td><input type="text" name="yc1"></td>
				<td><input type="text" name="yc2"></td>
				<td><input type="text" name="yc3"></td>
				<td><input type="text" name="yc4"></td>
				<td><input type="text" name="yc5"></td>
				<td><input type="submit" name="submit" value="Save" class="button is-primary"></td>
			</tr>
			<tr>
				<td>Altitude Controller</td>
				<td><input type="text" name="ac1"></td>
				<td><input type="text" name="ac2"></td>
				<td><input type="text" name="ac3"></td>
				<td><input type="text" name="ac4"></td>
				<td><input type="text" name="ac5"></td>
				<td><input type="submit" name="submit" value="Save" class="button is-primary"></td>
			</tr>
		</table>
		<div class="box is-fluid tuningbottom">
			<div class="block">
				<div class="columns">
					<div class="column is-4">
						ABCDE : &nbsp<input type="text" name="abcde">
					</div>
					<div class="column is-4">
						PQRST : <input type="text" name="abcde">
					</div>
				</div>
				<div class="columns">
					<div class="column is-4">
						FGHIJ : &nbsp&nbsp&nbsp<input type="text" name="abcde">
					</div>
					<div class="column is-4">
						UVW : &nbsp&nbsp&nbsp<input type="text" name="abcde">
					</div>
				</div>
				<div class="columns">
					<div class="column is-4">
						KLMNO : <input type="text" name="abcde">
					</div>
					<div class="column is-4">
						XYZ : &nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" name="abcde">
					</div>
					<input type="submit" name="submit" value="Save" class="button is-info is-medium">
				</div>
			</div>
		</div>
		<div class="columns">
			<div class="column is-6"></div>
			<div class="buttons">
				<button class="button is-success is-medium">Save All</button>
				<button class="button is-danger is-medium">Restore Default</button>
			</div>
		</div>
	</form>